*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.two{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 12px;
    
}

.sterling img{
    width: 900px;
    padding-left: 500px;
}

.nav-items{
    padding-left: 200px;
    display: flex;
    gap: 20px;
    align-items: baseline;
    /* padding: 20px; */
    max-width: 12000px;
    background-color: white;
}

nav{
        position: sticky;
      top: 0;
        z-index: 0;
    }

   
    .card1{
        background-image: url("img/shutterstock_522456049.jpg");
       display: flex;
       align-items: center;
       padding-top: 130px;
       justify-content: center;
       z-index: 1; 
    }

    .p5{
        background-color: red;
        color: white;
        padding: 15px;
        border-radius: 25px;
        border: none;
        margin-top: 20px;
    }

    .p1{
        color: red;
        font-size: 20px;
    }

    .p2{
        font-size: 80px;
        color: gray;
    }

    .p3{
        color: gray;
    }

    .card2{
        display: flex;
       align-items: center;
       padding-top: 130px;
       justify-content: center;
       z-index: 2;
       background-image: url(img/clipboard-image-1770036547.jpg);   
    }

     .card{
        height: 100vh;
        position: sticky;
        top: 0;
     }

    .cards{
        height: 400vh;
    }

    .card3{
       display: flex;
       align-items: center;
       padding-top: 130px;
       justify-content: center;
       z-index: 3;
       background-image: url(img/clipboard-image-1770036530.jpg); 
    }

    .card4{
        display: flex;
       align-items: center;
       padding-top: 130px;
       justify-content: center;
       z-index: 4;
       background-image: url(img/clipboard-image-1770036541.jpg);
    }

    html, body{
        background-color: #616161;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .desktop-footer{
        background-color: linear-gradient(to bottom, #747474, #4a4a4a);
        padding: 100px;
        width: 200px;
        min-height: 1000vh;
    }

    .footer-grid{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
    }

    .column-title{
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: 0.5px;
    }

    .mid-title{
        margin-top: 35px;
    }

    .footer-links{
        list-style: none;
    }

    .footer-links li{
        margin-bottom: 12px;
    }

    .footer-links a{
        color: #b0b0b0;
        font-size: 0.85rem;
        font-weight: 400;

    }

    .social-icon{
        display: flex;
        gap: 15px;
        margin-top: 25px;
    }

    .social-icon a{
        color: #b0b0b0;
        font-size: 1.1rem;

    }



    